<div class="card p-5 bg-light">
  <div class="row">

<div class="col-md-9">


    <div class="bloque-resultado">
      <h1 class="main-tit">Tareas Realizadas</h1>

      <% @todos.each do |todo| %>

      <%= link_to todo.description, todo, class: 'description'%>
        <% if todo.completed == true %>
        <p class="completada"><i class="far fa-thumbs-up"></i> Completada</p>

          <% else %>
            <%= link_to 'Completar', complete_path(todo), class: 'completar' %>
          <% end %>

          <%= link_to "Editar", todo_edit_path(todo), class: 'edit' %> <%= link_to "Borrar", todo, method: :delete, class: 'delete' %>

      <% end %>
    </div>

    </div>



    <div class="col-md-3">
      <%= link_to "Agregar nueva tarea", todos_new_path, class:"btn btn-primary" %>
    </div>

  </div>
</div>
